{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Billing</title>
  <script src="//cdn.jsdelivr.net/humanize/0.0.9/humanize.min.js"></script>
  <script src="//cdn.jsdelivr.net/d3js/3.5.6/d3.min.js"></script>
  <script src="{% static 'front_end/polyfill.js' %}"></script>
  <script src="{% static 'front_end/pikaday.js' %}"></script>
  <script src="{% static 'front_end/config.js' %}"></script>
  <script src="{% static 'front_end/util.js' %}"></script>
  <script src="{% static 'front_end/fetcher.js' %}"></script>
  <script src="{% static 'front_end/formatters.js' %}"></script>
  <script src="{% static 'front_end/billing.js' %}"></script>
  <script src="{% static 'front_end/charts.js' %}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'front_end/css/pikaday.css' %}">
  <link rel="stylesheet" href="{% static 'front_end/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'front_end/css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'front_end/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'front_end/css/billing.css' %}">
</head>
<body>

<div class="container">
<nav><select></select><ul></ul></nav>

<section class="title">
<div class="row print">
  <div class="seven columns">
    <img class="u-max-full-width" src="{% static 'front_end/img/logo.png' %}" alt="NCI: Providing Australian researchers with world-class high-end computing services">
  </div>
  <div class="five columns">
    <address>
      Address: ?<br>
      Telephone: ?<br>
      Email: ?<br>
    </address>
  </div>
</div>
<h4>Cloud Computing Invoice</h4>
<div class="row controls" style="text-align:left">
  <div class="one-half column">
    <label for="pid">Project</label>
    <select id="pid" class="u-full-width"></select>
    <label for="start">Start date</label>
    <input id="start" class="u-full-width" type="text">
    <label for="end">End date</label>
    <input id="end" class="u-full-width" type="text">
    <label for="su">Total SU</label>
    <input id="su" class="u-full-width" type="text">
    <label for="total">Total bill</label>
    <input id="total" class="u-full-width" type="text">
    <label for="factor" class="u-full-width noprint">Dollars per SU</label>
    <input id="factor" class="u-full-width noprint" type="text" value="0.5">
  </div>
  <div class="one-half column perproject">
    <label>Invoice history</label>{# oh it's a horrible hack for consistent formatting #}
    <div class="golden"><div class="chart"></div></div>
  </div>
</div>
</section>
<section class="perproject">
<div class="row">
  <div class="full column">
    <h5>Instance details</h5>
    <table class="u-full-width"></table>
  </div>
</div>
<div class="row ha">
  <div class="full column">
    <p>Non-unitary host aggregate SU scaling factors:</p>
    <ul></ul>
  </div>
</div>
</section>

<footer>
<p>disclaimers go here</p>
</footer>
</div>{# /container #}

<script>
Billing.init();
</script>
</body>
</html>
