{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Flavour Capacity</title>
  <script src="//cdn.jsdelivr.net/humanize/0.0.9/humanize.min.js"></script>
  <script src="//cdn.jsdelivr.net/d3js/3.5.6/d3.min.js"></script>
  <script src="{% static 'front_end/polyfill.js' %}"></script>
  <script src="{% static 'front_end/config.js' %}"></script>
  <script src="{% static 'front_end/util.js' %}"></script>
  <script src="{% static 'front_end/fetcher.js' %}"></script>
  <script src="{% static 'front_end/formatters.js' %}"></script>
  <script src="{% static 'front_end/flav.js' %}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'front_end/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'front_end/css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'front_end/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'front_end/css/flav.css' %}">
</head>
<body>

<div class="container">
<nav><ul></ul></nav>
<section class="title">
<div class="row">
<div class="twelve column flavs">
<h4>Flavour Capacity</h4>
<p><select><option>Select flavour...</option></select></p>
<div class="summary"></div>
<div class="sum" style="display:none">
<p>Capacity: <span></span></p>
<aside>Estimated na&iuml;vely from servers' available resources.</aside>
</div>
</div>
</div>
</section>
<section>
<h3>Hypervisor list</h3>
<div class="row">
  <div class="full column hypervisors">
    <div class="controls"><abbr class="capacity" title="capacity">N</abbr><span class="hostname">host</span><div class="resources"></div></div>
    <div class="list"></div>
  </div>
</div>
</section>
<footer>
<div class="row">
  <div class="twelve column footer">
    <p>Last updated: <span class="date"></span></p>
  </div>
</div>
</footer>
</div>{# /container #}

<script>
Report.init();
</script>
</body>
</html>
