{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Authenticate</title>
  <script src="//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>
  <script src="{% static 'front_end/polyfill.js' %}"></script>
  <script src="{% static 'front_end/js-openstackclient.min.js' %}"></script>
  <script src="{% static 'front_end/config.js' %}"></script>
  <script src="{% static 'front_end/util.js' %}"></script>
  <script src="{% static 'front_end/login.js' %}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'front_end/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'front_end/css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'front_end/css/base.css' %}">
</head>
<body>
{% if token %}{# TODO this won't work #}
<script>
var token = '{{ token|escapejs }}';
sessionStorage.setItem(Config.tokenKey, token);
location.replace(Config.baseURL + Config.reports[0].url);
</script>
{% endif %}

<div class="container">

<section class="title error" style="display:none">
<h2>Whoops</h2>
<div class="row">
  <div class="full columns">
    <p class="message"></p>
  </div>
</div>
</section>
<section class="title">
<h2>Authenticate</h2>
<div class="row instructions-row">
  <div class="full columns instructions">
    <p>Request data from <select></select> using credentials obtained one of two ways below:</p>
  </div>
</div>
<div class="row">
  <div class="full columns">
    <form method="post" class="aaf">
      <input type="hidden" name="csrfmiddlewaretoken" value="redundant">
      <input type="submit" class="button-primary" value="via AAF">
    </form>
  </div>
</div>
<div class="row">
  <div class="full columns">
    <p>or</p>
  </div>
</div>
<form class="manual">
<div class="row" style="text-align:left">
  <div class="three columns">
    <label for="username">Username</label>
    <input name="username" id="username" class="u-full-width" type="text">
  </div>
  <div class="three columns">
    <label for="password">Password</label>
    <input name="password" id="password" class="u-full-width" type="password">
  </div>
  <div class="four columns">
    <label for="url" title="Keystone base URL, e.g. http://example.com:5000">URL</label>
    <input name="url" id="url" class="u-full-width" type="text">
  </div>
  <div class="two columns">
    <label><!-- ugly hack for consistent spacing -->&nbsp;</label>
    <input type="submit" value="Manually">
  </div>
</div>
<div class="row">
  <div class="full columns">
    <p class="message"></p>
  </div>
</div>
</form>
</section>

<footer>
<p>
  The source of Keystone token affects the availability of reporting API endpoints.
  Most of the time most users would want to authenticate via AAF.
  End the browser session to deauthenticate.
</p>
</footer>
</div>{# /container #}
</body>
</html>
