{% load staticfiles %}
<!DOCTYPE html>
<head>
    <title>Project Details - {{ project.display_name }}</title>
    <link rel="stylesheet" href="{% static 'front_end/base.css' %}" type="text/css">
</head>
<body>
    <h1>{{ project.display_name }}</h1>
    <h2>Aggregate View</h2>

    <table>
	<caption>Compute</caption>
	<tr>
	    <th>&nbsp;</th>
	    <th>Instances</th>
	    <th>VCPUS</th>
	    <th>Memory</th>
	    <th>Wall Time</th>
	    <th>CPU Time</th>
	    <th>Efficiency</th>
	</tr>
	<tr>
	    <td>Used</td>
	    <td>{{ project.instance_count }}</td>
	    <td>{{ project.vcpus }}</td>
	    <td>{{ project.memory }}</td>
	    <td>{{ project.wall_time }}</td>
	    <td>{{ project.cpu_time }}</td>
	    <td>{{ project.efficiency }}</td>
	</tr>
	<tr>
	    <td>Limit</td>
	    <td>{{ project.quota_instances }}</td>
	    <td>{{ project.quota_vcpus }}</td>
	    <td>{{ project.quota_memory }}</td>
	    <td>N/A</td>
	    <td>N/A</td>
	    <td>&nbsp;</td>
	</tr>
    </table>
    <table>
	<caption>Storage</caption>
	<tr>
	    <th>&nbsp;</th>
	    <th>Local</th>
	    <th>Volume Total</th>
	    <th>Snapshots</th>
	    <th>Volumes</th>
	</tr>
	<tr>
	    <td>Used</td>
	    <td>{{ project.local }}</td>
	    <td>{{ project.volume_total }}</td>
	    <td>{{ project.snapshots }}</td>
	    <td>{{ project.volume_count }}</td>
	</tr>
	<tr>
	    <td>Limit</td>
	    <td>N/A</td>
	    <td>{{ project.quota_volume_total }}</td>
	    <td>{{ project.quota_snapshot }}</td>
	    <td>{{ project.quota_volume_count }}</td>
	</tr>
    </table>

    <h2>Instance Details</h2>

    <table>
	<caption>Project Instances</caption>
	<tr>
	    <th>Instance</th>
	    <th>Cores</th>
	    <th>Memory</th>
	    <th>Local Storage</th>
	    <th>Volume Storage</th>
	    <th>Wall Time</th>
	    <th>CPU Time</th>
	</tr>
	{% for instance in project.instances %}
	<tr>
	    <td>{{ instance.name }}</td>
	    <td>{{ instance.vcpus }}</td>
	    <td>{{ instance.memory }}</td>
	    <td>{{ instance.local }}</td>
	    <td>{{ instance.volume_total }}</td>
	    <td>{{ instance.wall_time }}</td>
	    <td>{{ instance.cpu_time }}</td>
	</tr>
	{% endfor %} 
</body>

