{# this view gets included when displaying a view with no q_querykey.html template #}
<table class="display"></table>
<script>
(function($, window, document) {
    $(function() {
        var tbl = $('#q-{{key}} table');
        tbl.addClass('loading');
        tbl.append('<tbody><tr><td>loading...</td></tr></tbody>');
        query("{% url 'sqldump:query' key %}",
            function(data) {
                tbl.find('tbody').remove();
                tbl.removeClass('loading');
                if(data.length == 0) {
                    tbl.append('<thead><td>no data</td></thead>');
                    return;
                }

                // create a row with cells for column names, and add as thead
                var tr = $('<tr/>');
                cols = Object.keys(data[0]);
                for(col in cols) {
                    tr.append($('<th/>').text(cols[col]));
                }
                tbl.append($('<thead/>').append(tr));

                // append rows
                var tb = $('<tbody/>');
                for(row in data) {
                    var tr = $('<tr/>');
                    for(col in cols) {
                        tr.append($('<td/>').text(data[row][cols[col]])); // idk javascript ok
                    }
                    tb.append(tr);
                }
                tbl.append(tb);

                // give a dumb datatable by default, since we know nothing about the data
                tbl.DataTable({
                });
            },
            function(data) {
                tbl.find('tbody').remove();
                tbl.removeClass('loading');
                tbl.addClass('error');
                tbl.append('<tbody><tr><td>error</td></tr></tbody>');
            }
        );
    });
})(jQuery, window, document);
</script>
