{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tenjin</title>
  <script src="//cdn.jsdelivr.net/d3js/3.5.6/d3.min.js"></script>
  <script src="//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>
  <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
  <script src="//cdn.jsdelivr.net/humanize/0.0.9/humanize.min.js"></script>
  <script src="{% static 'front_end/d3-tip.min.js' %}"></script>
  <script src="{% static 'front_end/util.js' %}"></script>
  <script src="{% static 'front_end/fetcher.js' %}"></script>
  <script src="{% static 'front_end/formatters.js' %}"></script>
  <script src="{% static 'front_end/polyfill.js' %}"></script>
  <script src="{% static 'front_end/utilisation.js' %}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'front_end/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'front_end/css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'front_end/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'front_end/css/utilisation.css' %}">
  <link rel="stylesheet" href="{% static 'front_end/css/d3-tip.css' %}">
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
</head>
<body>

<div class="container">
<section class="title">
<div class="row">
<div class="twelve column">
<h2>Tenjin Utilisation</h2>
    <p>If a pie chart disappears, it is probably because the browser isn't sure how to draw 0/0.</p>
    <p><label><input type="checkbox" checked id="pielock">Lock charts</label></p>
</div>
</div>
</section>
<section>
<h3>Live usage</h3>
<div class="row">
  <div class="one-half column resources">
    <h4>Current resource usage</h4>
    <div class="controls">
        <select class="project"></select>
        <select class="option"></select>
    </div>
    <div class="chart"></div>
  </div>
  <div class="one-half column overview">
    <h4>Per-project distribution</h4>
    <div class="controls">
        <select class="option"></select>
    </div>
    <div class="chart"></div>
    <div class="instructions">
    <p>Click on a piece of pie to filter data.</p>
    <p class="selected" style="display:none">Click again to reset.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="twelve column live">
    <table class="display"></table>
  </div>
</div>
</section>
<section>
<h3>Historical usage</h3>
<div class="row">
  <div class="twelve column historical">
    <h4>Historical usage</h4>
    <p class="instructions">Select a project to view its historical resource usage. The blue plot shows number of non-deleted instances. Click on a label on the horizontal axis, or click and drag on the chart itself, to filter by a date range.</p>
    <p>
        <select class="project"></select>
        <select class="option"></select>
        Total usage over selected time period: <span class="integral"></span>
    </p>
    <div class="chart">{# this is a better way than ".insert('svg', ':nth-child(fragile)')" #}</div>
    <table class="display"></table>
  </div>
</div>
</section>
<footer>
<div class="row">
  <div class="twelve column footer">
    <p>Last updated: <span class="date">?</span></p>
  </div>
</div>
</footer>
</div>{# /container #}

<script>{# putting <script> at the end of document makes sure we have all the dom we need (hopefully same as $(document).ready) #}
Report.init();
</script>
</body>
</html>
