path { stroke: #fff; }
path.selected { fill: pink; }
path.res-used { fill: #d62728; } /* hard-coded to match category20 */
path.res-free { fill: #2ca02c; }
.title label > *:first-child {
    margin-right: 0.5em;
}
table {
    font-size: 1.2rem;
}
div.live td.date {
    white-space: nowrap;
}

.overview .handles circle, .resources .handles circle {
    fill-opacity: 0; /* invisible targets for tooltips */
}

.historical .axis text {
    font-size: 1.2rem; /* match table */
}
.historical g.date .x.axis text {
    cursor: pointer;
}
.historical .axis path, .historical .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.historical .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}
.historical .area {
    fill: lightsteelblue;
    stroke: none;
}
.historical .extent {
    fill: rgba(0,0,0,0.2);
    stroke: gray;
    stroke-width: 2px;
    stroke-dasharray: 1 1;
}
.historical line.bar {
    stroke: lightsteelblue;
    stroke-width: 1px;
    stroke-dasharray: 5 5;
    display: none;
}
.historical circle {
    fill: steelblue;
    stroke: crimson; /* jk it will be invisible */
    stroke-opacity: 0; /* told you */
    stroke-width: 15px; /* this hack is meant to give a large invisible area for mouse events */
}
.historical circle.highlight {
    stroke-opacity: 0.5;
}
