.live label {
    display: inline;
    font-weight: normal;
    margin-right: 0.5rem;
}
.live svg {
    height: 400px;
    width: 50%;
    display: inline-block;
}
.historical svg {
    width: 100%;
    height: 500px;
}
.overcommit {
    display: none;
}
