section.title {
    text-align: center;
    padding: 4.5rem 0;
}
section, footer {
    border-top: 1px solid #ccc;
    padding: 7rem 0;
}
section > h3 {
    display: none;
}
footer {
    text-align: center;
    font-size: 1rem;
    color: gray;
    font-style: italic;
}
footer a {
    cursor: pointer;
}
.loading,.error {
    background-repeat: no-repeat;
    background-position: center;
    min-height: 20px;
    min-width: 20px;
    color: rgba(0,0,0,0.5);
}
.loading {
    background-image: url(../img/loading.gif); /* From https://commons.wikimedia.org/wiki/File:Loading.gif (CC-BY-SA-2.5) */
}
.error {
    background-image: url(../img/error.png);
    background-color: rgba(255,0,0,0.1);
    border: 2px dashed crimson;
    border-radius: 1rem;
}
