section.title {
    text-align: center;
    padding: 4.5rem 0;
}
section, footer {
    border-top: 1px solid #ccc;
    padding: 7rem 0;
}
section > h3 {
    display: none;
}
footer {
    text-align: center;
    font-size: 1rem;
    color: gray;
    font-style: italic;
}
footer a {
    cursor: pointer;
}
.loading,.error {
    background-repeat: no-repeat;
    background-position: center;
    min-height: 20px;
    min-width: 20px;
    color: rgba(0,0,0,0.5);
}
.loading {
    background-image: url(../img/loading.gif); /* From https://commons.wikimedia.org/wiki/File:Loading.gif (CC-BY-SA-2.5) */
}
path { stroke: #fff; }
path.selected { fill: pink; }
path.res-used { fill: #d62728; } /* hard-coded to match category20 */
path.res-free { fill: #2ca02c; }
div.overview select  { float: right; }
div.resources select { float: left; }
.title label > *:first-child {
    margin-right: 0.5em;
}
.error {
    background-image: url(../img/error.png);
    background-color: rgba(255,0,0,0.1);
    border: 2px dashed crimson;
    border-radius: 1rem;
}
table {
    font-size: 1.2rem;
}
div.live td.date {
    white-space: nowrap;
}

.overview .handles circle, .resources .handles circle {
    fill-opacity: 0; /* invisible targets for tooltips */
}

.historical .axis text {
    font-size: 1.2rem; /* match table */
}
.historical g.date .x.axis text {
    cursor: pointer;
}
.historical .axis path, .historical .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.historical .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}
.historical .area {
    fill: lightsteelblue;
    stroke: none;
}
.historical .extent {
    fill: rgba(0,0,0,0.2);
    stroke: gray;
    stroke-width: 2px;
    stroke-dasharray: 1 1;
}
.historical line.bar {
    stroke: lightsteelblue;
    stroke-width: 1px;
    stroke-dasharray: 5 5;
    display: none;
}
.historical circle {
    fill: steelblue;
    stroke: black; /* jk it will be invisible */
    stroke-opacity: 0; /* told you */
    stroke-width: 15px; /* this hack is meant to give a large invisible area for mouse events */
}
