section.title {
    text-align: center;
}
section, nav {
    border-bottom: 1px solid #ccc;
}
section {
    padding: 7rem 0 4.5rem 0; /* padding bottom different by -2.5rem to match p margin-bottom in skeleton.css */
}
footer {
    text-align: center;
    font-size: 1rem;
    color: gray;
    font-style: italic;
    margin-top: 1rem;
}
footer a {
    cursor: pointer;
}
.warning {
    background: url('/static/front_end/img/warning.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: whitesmoke;
    background-position: center;
    padding: 2.5rem;
    padding-bottom: 0; /* because p already has margin-bottom: 2.5rem */
    border: 2px solid orange;
    border-radius: 1rem;
    box-sizing: border-box;
}
.loading,.error {
    min-height: 20px;
    min-width: 20px;
    color: rgba(0,0,0,0.5);
}
.loading {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/loading.gif); /* From https://commons.wikimedia.org/wiki/File:Loading.gif (CC-BY-SA-2.5) */
}
.error {
    background-color: rgba(255,0,0,0.1);
    border: 2px dashed crimson;
    border-radius: 1rem;
    box-sizing: border-box;
}
.error .message {
    color: crimson;
}
nav {
    text-transform: uppercase;
    font-size: 1.2rem;
}
nav select {
    float: right;
    margin-top: 1rem; /* nav height is approx 6rem; select height is approx 4rem; this makes it approx centred */
}
nav ul {
    list-style-type: none;
    margin: 0;
}
nav li {
    display: inline-block;
    margin: 0;
}
nav a {
    color: #222; /* from skeleton.css */
    text-decoration: none;
    display: block;
    padding: 2rem;
    box-sizing: border-box;
}
nav a:hover {
    background: lightgray;
    color: black;
    border-bottom: 2px solid lightgray; /* literally don't know why box-sizing:border-box didn't work */
}
nav li.current a {
    color: steelblue;
    font-weight: bold;
    border-bottom: 2px solid steelblue;
}

.print {
    display: none;
}
@media print {
    .print { display: block } /* for now we only ever apply print class to div elements; using "initial" or "unset" makes it display inline which is no good */
    .noprint { display: none }
    nav { display : none }
    body { color : black }
    input, select { height: auto !important; border : 0 !important; -webkit-appearance: none; -moz-appearance: none; appearance: none; margin: 0 !important; padding: 0 !important }
    abbr { border: 0 !important }
    td { border-bottom: 1px solid #F1F1F1 !important }
    .column,.columns { margin-left: 0 !important }
    .container { width:100% }
    html { font-size: 50% !important }
}
