dl {
    display: table;
}
dl > div {
    display: table-row;
}
dt {
    font-weight: bold;
    text-align: right;
    display: table-cell;
    width: 50%;
    padding-right: 0.5rem; /* to match dd padding-left */
}
dd {
    display: table-cell;
    text-align: left;
    padding-left: 0.5rem; /* to match dt padding-right */
}
