dl {
    display: table;
}
dl > div {
    display: table-row;
}
dt {
    font-weight: bold;
    text-align: right;
    display: table-cell;
    width: 50%;
    padding-right: 0.5rem; /* to match dd padding-left */
}
dd {
    display: table-cell;
    text-align: left;
    padding-left: 0.5rem; /* to match dt padding-right */
}
table {
    font-size: 1.2rem;
}
th {
    cursor: pointer;
}
th::after {
    margin-left: 1rem;
    font-size: 80%;
}
th.descending::after { /* TODO make some blank placeholder for th with no arrow, so column widths don't change when .descending/.ascending are applied */
    content: '\0025BC';
}
th.ascending::after {
    content: '\0025B2';
}
tfoot td {
    border-bottom: 0;
    font-weight: bold;
}
td.resource, tfoot td {
    white-space: nowrap;
}
th.number,td.number {
    text-align: right;
}
.print {
    display: auto;
}
@media print {
    th::after { content: none !important }
    input, select { margin-left: 1rem !important; margin-bottom: 1rem !important; }
    h4 { text-align: left}
}
div.golden { /* http://www.mademyday.de/css-height-equals-width-with-pure-css.html */
    position: relative;
    width: 100%;
}
div.golden:before {
    content: "";
    display: block;
    padding-top: 62%;
}
div.golden > div {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.tbl {
    display: table;
    width: 100%;
    height: 100%;
}
.crow {
    display: table-row;
}
.crow > span {
    display: table-cell;
    width: 6rem;
    text-align: right;
    padding-right: 1rem;
    vertical-align: middle;
}
.crow > div {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    color: lightsteelblue;
}
.bar {
    display: block;
    height: 50%;
    background: steelblue;
}
address {
    text-align: left;
    font-style: normal;
    font-size: 1.2rem;
    padding-left: 5rem; /* some browsers squeeze out padding when printing, which makes address look cramped */
}
