dl {
    display: table;
}
dl > div {
    display: table-row;
}
dt {
    font-weight: bold;
    text-align: right;
    display: table-cell;
    width: 50%;
    padding-right: 0.5rem; /* to match dd padding-left */
}
dd {
    display: table-cell;
    text-align: left;
    padding-left: 0.5rem; /* to match dt padding-right */
}
th {
    cursor: pointer;
}
th::after {
    margin-left: 1rem;
    font-size: 80%;
}
th.descending::after { /* TODO make some blank placeholder for th with no arrow, so column widths don't change when .descending/.ascending are applied */
    content: '\0025BC';
}
th.ascending::after {
    content: '\0025B2';
}
tfoot td {
    border-bottom: 0;
    font-weight: bold;
}
td.resource {
    white-space: nowrap;
}
