label {
    display: inline;
    font-weight: normal;
    margin-right: 0.5rem;
}
input[type=radio] {
    margin-right: 1.0rem;
}
div.controls > p {
    text-align: justify;
}
div.square { /* http://www.mademyday.de/css-height-equals-width-with-pure-css.html */
    position: relative;
    width: 100%;
}
div.square:before {
    content: "";
    display: block;
    padding-top: 100%;
}
div.pie svg {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.controls div {
    display: table;
    width: 100%;
}
.controls label {
    display: table-cell;
    width: 13rem;
}
.controls select {
    display: table-cell;
    width: 100%;
}
.historical .axis text {
    font-size: 1.2rem;
}
.historical g.date .x.axis text {
    cursor: pointer;
}
.historical .axis path, .historical .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.historical .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}
.historical .area {
    fill: lightsteelblue;
    stroke: none;
}
.historical .extent {
    fill: rgba(0,0,0,0.2);
    stroke: gray;
    stroke-width: 2px;
    stroke-dasharray: 1 1;
}
.historical line.bar {
    stroke: lightsteelblue;
    stroke-width: 1px;
    stroke-dasharray: 5 5;
    display: none;
}
.historical circle {
    fill: steelblue;
    stroke: crimson; /* jk it will be invisible */
    stroke-opacity: 0; /* told you */
    stroke-width: 15px; /* this hack is meant to give a large invisible area for mouse events */
}
.historical circle.highlight {
    stroke-opacity: 0.5;
}
.progress {
    font-size: 1.1rem;
    font-weight: bold;
    border: 2px solid steelblue;
    height: 2rem;
    margin-bottom: 2.5rem;
    box-sizing: border-box;
}
.progress .bar {
    display: block;
    height: inherit;
    box-sizing: border-box;
    background: lightsteelblue;
    text-align: right;
}
.progress .bar span {
    color: steelblue;
    display: inline-block;
    height: inherit;
    padding-right: 0.2rem;
    white-space: nowrap;
}
