<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Billing</title>
  <script src="//cdn.jsdelivr.net/humanize/0.0.9/humanize.min.js"></script>
  <script src="//cdn.jsdelivr.net/d3js/3.5.6/d3.min.js"></script>
  <script src="/static/polyfill.js"></script>
  <script src="/static/pikaday.js"></script>
  <script src="/static/config.js"></script>
  <script src="/static/util.js"></script>
  <script src="/static/fetcher.js"></script>
  <script src="/static/formatters.js"></script>
  <script src="/static/billing.js"></script>
  <script src="/static/charts.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/css/pikaday.css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/billing.css">
</head>
<body>

<div class="container">
<nav><img src="/static/img/logo-nectar.svg" alt="Nectar logo"><ul></ul></nav>

<section class="title">
<div class="row print">
  <div class="seven columns">
    <img class="u-max-full-width" src="/static/img/logo-nci.png" alt="NCI: Providing Australian researchers with world-class high-end computing services">
  </div>
  <div class="five columns">
    <address>
      National Computational Infrastructure<br>
      The Australian National University<br>
      143 Ward Road<br>
      Acton, ACT, 2601<br>
      Telephone: ?<br>
      Email: ?<br>
    </address>
  </div>
</div>
<h4>Cloud Computing Invoice</h4>
<div class="row controls" style="text-align:left">
  <div class="one-half column">
    <label for="pid">Project</label>
    <select id="pid" class="u-full-width"></select>
    <label for="start">Start date</label>
    <input id="start" class="u-full-width" type="text">
    <label for="end">End date</label>
    <input id="end" class="u-full-width" type="text">
    <label for="su">Total SU</label>
    <input id="su" class="u-full-width" type="text">
    <label for="total">Total bill</label>
    <input id="total" class="u-full-width" type="text">
    <label for="factor" class="u-full-width noprint">Dollars per SU</label>
    <input id="factor" class="u-full-width noprint" type="text" value="0.5">
  </div>
  <div class="one-half column perproject">
    <label>Monthly history</label>{# oh it's a horrible hack for consistent formatting #}
    <div class="golden"><div class="chart"></div></div>
  </div>
</div>
</section>
<section class="perproject">
<div class="row">
  <div class="full column">
    <h5>Instance details</h5>
    <table class="u-full-width"></table>
  </div>
</div>
<div class="row scale">
  <div class="full column">
    <h5>SU scaling factors</h5>
    <ul></ul>
  </div>
</div>
</section>

<footer>
<p>This report is meant to provide an example of an institution-specific use of the data made available by the reporting API.</p>
</footer>
</div>{# /container #}

<script>
Billing.init();
</script>
</body>
</html>
