<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Flavour Capacity</title>
  <script src="//cdn.jsdelivr.net/humanize/0.0.9/humanize.min.js"></script>
  <script src="//cdn.jsdelivr.net/d3js/3.5.6/d3.min.js"></script>
  <script src="/static/polyfill.js"></script>
  <script src="/static/config.js"></script>
  <script src="/static/util.js"></script>
  <script src="/static/fetcher.js"></script>
  <script src="/static/formatters.js"></script>
  <script src="/static/flavour.js"></script>
  <link rel="apple-touch-icon" sizes="57x57" href="/static/img/icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/img/icon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/img/icon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/img/icon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/img/icon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/img/icon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/img/icon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/img/icon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/icon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/static/img/icon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/img/icon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icon/favicon-16x16.png">
  <link rel="manifest" href="/static/img/icon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/static/img/icon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/flavour.css">
</head>
<body>

<div class="container">
<nav><img src="/static/img/logo-nectar.svg" alt="Nectar logo"><ul></ul></nav>
<section class="title">
<div class="row">
<div class="twelve column flavs">
<h4>Flavour Capacity</h4>
<div id="az"><label>Node<select></select></label></div>
<p><select class="flavours"><option>Select flavour...</option></select><label class="allflav"><input type="checkbox">show all</label></p>
<div class="summary"></div>
<div class="sum" style="display:none">
<p>Capacity: <span></span></p>
<aside>Estimated na&iuml;vely from servers' available resources.</aside>
</div>
</div>
</div>
</section>
<section>
<h3>Hypervisor list</h3>
<div class="row">
  <div class="full column hypervisors">
    <div class="controls"><abbr class="th capacity" title="capacity">N</abbr><span class="th hostname">host</span><div class="resources"></div></div>
    <div class="list"></div>
  </div>
</div>
</section>
<footer>
<div class="row">
  <div class="twelve column footer">
    <p>Last updated: <span class="date"></span></p>
  </div>
</div>
</footer>
</div>{# /container #}

<script>
Flavour.init();
</script>
</body>
</html>
