<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Aggregate Utilisation</title>
  <script src="//cdn.jsdelivr.net/humanize/0.0.9/humanize.min.js"></script>{# required (footer "Last updated") #}
  <script src="//cdn.jsdelivr.net/d3js/3.5.6/d3.min.js"></script>{# required #}
  <script src="/static/nv.d3.min.js"></script>{# required #}
  <script src="/static/polyfill.js"></script>{# required #}
  <script src="/static/config.js"></script>{# required #}
  <script src="/static/util.js"></script>{# required #}
  <script src="/static/formatters.js"></script>
  <script src="/static/fetcher.js"></script>{# required #}
  <script src="/static/utilisation.js"></script>{# report-specific code #}
  <link rel="apple-touch-icon" sizes="57x57" href="/static/img/icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/img/icon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/img/icon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/img/icon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/img/icon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/img/icon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/img/icon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/img/icon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/icon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/static/img/icon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/img/icon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icon/favicon-16x16.png">
  <link rel="manifest" href="/static/img/icon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/static/img/icon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/css/nv.d3.css">
  <link rel="stylesheet" href="/static/css/normalize.css">{# required #}
  <link rel="stylesheet" href="/static/css/skeleton.css">{# required #}
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/utilisation.css">{# report-specific style #}
</head>
<body>

<div class="container">
<nav><img src="/static/img/logo-nectar.svg" alt="Nectar logo"><ul></ul></nav>

<section class="title">
<h4>Aggregate Utilisation</h4>
<div class="row">
  <div class="full columns">
    <p>The pie charts show the current resource usage. Below is a chart of historical data.</p>
  </div>
</div>
</section>

<section>
<h5>Current usage</h5>
<div id="az"><label>Node<select></select></label></div>
<div class="row">
  <div class="full column live"><p>Click on pie chart segments to toggle between viewing overall resource usage, per-organisation breakdown, and per-project within an organisation. <span class="overcommit">Negative values indicate overcommit.</span></p></div>
</div>
</section>

<section>
<h5>Historical usage</h5>
<div class="row historical">
  <div class="full column"><p>The data points below are recorded once per day, so may not capture an instance lasting less than a day.</p><svg/></div>
</div>
</section>

<footer>
<p>Last update: <span class="date">?</span></p>
</footer>
</div>{# /container #}

<script>
Utilisation.init();
</script>
</body>
</html>
